/* [project]/src/app/(frontend)/assets/style/common/commonBanner.module.css [app-client] (css) */
.commonBanner-module__CnEbAW__commonBanner {
  background-image: var(--banner-image);
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 75vh;
  display: flex;
  position: relative;
}

@media (max-width: 768px) {
  .commonBanner-module__CnEbAW__commonBanner {
    min-height: 40vh;
  }

  .commonBanner-module__CnEbAW__commonBanner:before {
    content: "";
    z-index: 1;
    background-color: #00000080;
    position: absolute;
    inset: 0;
  }

  .commonBanner-module__CnEbAW__commonBanner > * {
    z-index: 2;
    position: relative;
  }
}

/* [project]/src/app/(frontend)/assets/style/about/stats.module.css [app-client] (css) */
.stats-module__W1d0nG__statBox {
  aspect-ratio: 302 / 259;
  text-align: center;
  background: #292929;
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  transition: background .4s, transform .3s;
  display: flex;
}

.stats-module__W1d0nG__statBox:hover {
  background: linear-gradient(#2f2fb07c 0%, #e83e8d87 100%);
}

.stats-module__W1d0nG__title {
  color: #fff;
  font-size: 64px;
  font-weight: 900;
}

.stats-module__W1d0nG__subtitle {
  color: #9ca3af;
  margin-top: .5rem;
}

/* [project]/src/app/(frontend)/assets/style/about/mission.module.css [app-client] (css) */
.mission-module__A3SoYa__missionVisionContainer {
  background-image: url("../media/mission.6924f015.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mission-module__A3SoYa__leftArrow, .mission-module__A3SoYa__rightArrow {
  width: 90%;
  height: auto;
}

.mission-module__A3SoYa__blurBox {
  -webkit-backdrop-filter: blur(100px);
  background: var(--image-mission-bg);
  background-size: cover;
  border-radius: 1rem;
  padding: 1.25rem;
}

@media only screen and (max-width: 720px) {
  .mission-module__A3SoYa__image {
    width: 0;
  }

  .mission-module__A3SoYa__blurBox {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* [project]/src/app/(frontend)/assets/style/about/corevalue.module.css [app-client] (css) */
.corevalue-module__7cordW__coreValueWrapper {
  margin-top: 15%;
}

.corevalue-module__7cordW__coreValueCard {
  text-align: center;
  background: #2a2a2a;
  border-radius: .75rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 5rem 3rem 2rem;
  transition: background .2s ease-in-out;
  display: flex;
  position: relative;
  overflow: visible;
}

.corevalue-module__7cordW__coreValueCard:hover {
  background: #262626;
}

.corevalue-module__7cordW__iconBadge {
  background: #f64e9c;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px #00000040;
}

.corevalue-module__7cordW__iconImage {
  object-fit: contain;
}

@media only screen and (max-width: 720px) {
  .corevalue-module__7cordW__coreValueWrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* [project]/src/app/(frontend)/assets/style/about/team.module.css [app-client] (css) */
.team-module__GpOrOq__textCard {
  color: #fff;
  text-align: center;
  background-color: #1e1e1e;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.team-module__GpOrOq__number {
  color: #0000;
  -webkit-text-stroke: 2px #fff;
  margin-bottom: .5rem;
  font-size: 4rem;
  font-weight: 700;
}

.team-module__GpOrOq__title {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.team-module__GpOrOq__tag {
  color: #000;
  background-color: #fff;
  border-radius: 9999px;
  margin-bottom: .3rem;
  margin-left: .1rem;
  margin-right: .1rem;
  padding: .25rem .75rem;
  font-size: .7rem;
  display: inline-block;
}

.team-module__GpOrOq__imageCard {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 720px) {
  .team-module__GpOrOq__container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* [project]/src/app/(frontend)/assets/style/about/contact.module.css [app-client] (css) */
.contact-module__r43BeW__buttonGroup {
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1.5rem;
  display: flex;
}

.contact-module__r43BeW__primaryButton, .contact-module__r43BeW__secondaryButton {
  cursor: pointer;
  white-space: nowrap;
  border: 2px solid #0000;
  border-radius: .5rem;
  padding: .75rem 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all .3s ease-in-out;
}

.contact-module__r43BeW__primaryButton {
  color: #fff;
  background-color: #2f2fb0;
}

.contact-module__r43BeW__secondaryButton {
  color: #000;
  background-color: #fff;
}

@media only screen and (max-width: 720px) {
  .contact-module__r43BeW__image {
    display: none;
  }

  .contact-module__r43BeW__title {
    line-height: 1.2;
    font-size: 1.75rem !important;
  }

  .contact-module__r43BeW__subtitle {
    font-size: 1rem !important;
  }

  .contact-module__r43BeW__contactbg {
    height: 100%;
    margin: 0 auto;
  }

  .contact-module__r43BeW__buttonGroup {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .contact-module__r43BeW__primaryButton, .contact-module__r43BeW__secondaryButton {
    text-align: center;
    width: 100%;
    display: block;
  }

  .contact-module__r43BeW__mobileMarginBox {
    margin-left: 20px;
    margin-right: 20px;
    width: auto !important;
  }
}

/*# sourceMappingURL=src_app_%28frontend%29_assets_style_53f59cbc._.css.map*/