/* [project]/src/app/(frontend)/assets/style/home/banner.module.css [app-client] (css) */
.banner-module__6kFsCG__banner {
  text-align: center;
  color: #fff;
  opacity: 1;
  background: url("../media/home-banner.519fa3b0.webp") bottom / cover no-repeat;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  animation: 4s ease-in-out forwards banner-module__6kFsCG__fadeUpBanner;
  display: flex;
  position: relative;
  overflow: hidden;
}

@keyframes banner-module__6kFsCG__fadeUpBanner {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner-module__6kFsCG__glowLineWrapper {
  z-index: 2;
  background: #fff;
  border-radius: 50%;
  width: 90%;
  height: 2px;
  animation: 2s ease-out forwards banner-module__6kFsCG__lineFadeIn;
  position: absolute;
  bottom: 20px;
  left: 50%;
  overflow: visible;
  transform: translateX(-50%);
}

.banner-module__6kFsCG__glowLineWrapper:before {
  content: "";
  filter: blur(35px);
  opacity: 0;
  pointer-events: none;
  background: radial-gradient(at bottom, #ffffffe6 0%, #ffffff80 40%, #fff0 100%);
  border-radius: 50%;
  width: 100%;
  height: 120px;
  animation: 2.5s ease-out forwards banner-module__6kFsCG__glowFadeIn;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes banner-module__6kFsCG__lineFadeIn {
  from {
    opacity: 0;
    transform: translateX(-50%)translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateX(-50%)translateY(0);
  }
}

@keyframes banner-module__6kFsCG__glowFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.banner-module__6kFsCG__content {
  z-index: 2;
  max-width: var(--frame-1200);
  opacity: 1;
  padding-bottom: 90px;
  animation: 4s ease-in-out forwards banner-module__6kFsCG__fadeUpBanner;
  position: relative;
}

.banner-module__6kFsCG__buttons {
  justify-content: center;
  gap: 1rem;
  display: flex;
}

.banner-module__6kFsCG__primary {
  background: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: .8rem 1.5rem;
  text-decoration: none;
  transition: all .3s;
}

.banner-module__6kFsCG__primary:hover {
  background: #1a35c9;
}

.banner-module__6kFsCG__secondary {
  color: #000;
  cursor: pointer;
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: .8rem 1.5rem;
  text-decoration: none;
  transition: all .3s;
}

.banner-module__6kFsCG__secondary:hover {
  background: #e6e6e6;
}

@media (max-width: 768px) {
  .banner-module__6kFsCG__banner {
    min-height: 70vh;
    padding: 20px;
  }

  .banner-module__6kFsCG__content h1 {
    font-size: var(--size-22);
    line-height: 1.3;
  }

  .banner-module__6kFsCG__content p {
    font-size: var(--size-16);
  }

  .banner-module__6kFsCG__content p.banner-module__6kFsCG__frame-800 {
    width: 100%;
    font-size: var(--size-16);
    margin-bottom: var(--size-24);
  }

  .banner-module__6kFsCG__buttons {
    align-items: center;
    gap: .8rem;
  }

  .banner-module__6kFsCG__primary, .banner-module__6kFsCG__secondary {
    width: 100%;
    max-width: 280px;
    font-size: var(--size-16);
    padding: .6rem 1rem;
  }
}

/*# sourceMappingURL=src_app_%28frontend%29_assets_style_home_banner_module_css_bad6b30c._.single.css.map*/