/* [project]/src/app/(frontend)/assets/style/partials/header.module.css [app-client] (css) */
.header-module__PVG-wa__header {
  color: var(--color-white);
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  top: 0;
}

.header-module__PVG-wa__logo img {
  width: auto;
  height: auto;
  display: block;
}

.header-module__PVG-wa__nav {
  align-items: center;
  gap: 25px;
  display: flex;
}

.header-module__PVG-wa__nav a {
  color: var(--color-white);
  font-size: var(--size-16);
  font-family: var(--font-primary);
  font-weight: 600;
  text-decoration: none;
  transition: color .3s;
}

.header-module__PVG-wa__nav a:hover {
  color: #a78bfa;
}

.header-module__PVG-wa__quoteBtn {
  background: var(--color-white);
  border-radius: 4px;
  padding: 10px 15px;
  font-weight: 600;
  color: var(--color-black) !important;
}

.header-module__PVG-wa__dropdown {
  position: relative;
}

.header-module__PVG-wa__dropdown button {
  color: var(--color-white);
  font-family: var(--font-primary);
  font-size: var(--size-16);
  cursor: pointer;
  background: none;
  border: none;
  font-weight: 600;
}

.header-module__PVG-wa__dropdownMenu, .header-module__PVG-wa__dropdownMenu2 {
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  background: #111;
  border-radius: 6px;
  transition: all .3s;
  position: absolute;
  top: 100%;
  left: 0;
  box-shadow: 0 10px 30px #0000004d;
}

.header-module__PVG-wa__dropdownMenu {
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  min-width: 490px;
  padding: 10px;
  display: grid;
  transform: translate(-10%, 10px);
}

.header-module__PVG-wa__dropdownMenu a {
  color: var(--color-white);
  padding: 10px 15px;
  font-size: 16px;
  display: block;
}

.header-module__PVG-wa__dropdownMenu2 {
  gap: 40px;
  padding: 20px 30px;
  display: flex;
  transform: translate(-26%, 10px);
}

.header-module__PVG-wa__dropdownCategory {
  flex-direction: column;
  gap: 10px;
  min-width: 200px;
  display: flex;
}

.header-module__PVG-wa__dropdownCategory h4 {
  color: #a78bfa;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.header-module__PVG-wa__dropdownCategory a {
  color: var(--color-white);
  padding: 5px 0;
  transition: color .2s;
}

.header-module__PVG-wa__dropdownCategory a:hover {
  color: #a78bfa;
}

.header-module__PVG-wa__dropdown:hover .header-module__PVG-wa__dropdownMenu {
  opacity: 1;
  visibility: visible;
  transform: translate(-8%, 9px);
}

.header-module__PVG-wa__dropdown:hover .header-module__PVG-wa__dropdownMenu2 {
  opacity: 1;
  visibility: visible;
  transform: translate(-26%, 9px);
}

.header-module__PVG-wa__iconhiden {
  transition: all .3s;
  display: none;
}

.header-module__PVG-wa__dropdownMenu a:hover .header-module__PVG-wa__iconhiden, .header-module__PVG-wa__dropdownCategory a:hover .header-module__PVG-wa__iconhiden {
  transition: all .3s;
  display: inline-block;
}

.header-module__PVG-wa__mobileToggle {
  color: var(--color-white);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 26px;
  display: none;
}

@media (max-width: 768px) {
  .header-module__PVG-wa__nav {
    background: #000;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    display: none;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
  }

  .header-module__PVG-wa__nav.header-module__PVG-wa__open {
    display: flex;
  }

  .header-module__PVG-wa__mobileToggle {
    display: block;
  }

  .header-module__PVG-wa__header {
    padding: 30px 20px;
  }

  .header-module__PVG-wa__header img {
    object-fit: contain;
    width: 165px;
    height: auto;
  }

  .header-module__PVG-wa__dropdownMenu, .header-module__PVG-wa__dropdownMenu2 {
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    background: none;
    padding: 10px 0;
    display: none;
    position: relative;
    transform: none;
  }

  .header-module__PVG-wa__dropdownCategory {
    min-width: 100%;
  }

  .header-module__PVG-wa__mobiledropdownActive {
    flex-direction: column;
    gap: 5px;
    display: flex !important;
  }

  .header-module__PVG-wa__dropdownCategory h4 {
    color: #a78bfa;
    margin-top: 10px;
  }

  .header-module__PVG-wa__dropdownCategory a {
    color: var(--color-white);
    padding-left: 15px;
  }

  .header-module__PVG-wa__dropdown button {
    text-align: left;
    width: 100%;
  }
}

/*# sourceMappingURL=src_app_%28frontend%29_assets_style_partials_header_module_css_bad6b30c._.single.css.map*/