.ourJourneyContainer{
    display: flex;
    gap: 20px;
    align-items: center;
}
.ourJourneyCard{
    background: var(--color-white);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 calc(33.33% - 20px); /* 3 per row (minus gap) */
    max-width: calc(33.33% - 20px);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourJourneyCard img{
    width: 100%;
    height: var(--img-height);
    object-fit: contain;
}

@media screen and (max-width: 768px) {
    .ourJourneyCard {
    height: 100px;
    padding: 10px;
    flex: 0 0 35%; /* 1 per row */
    max-width: 120px;
    }
    .ourJourneyContainer{
        gap:10px;
        justify-content: space-between;
    }
}
