.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  color: var(--color-black);
}

.gridbox {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gridbox img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}




.gridbox a {
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
  color: var(--color-pink);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 20px;
    display: grid;
}
}

