
.topSection,.bottomSection {
  
  display: flex;
  align-items: center;
  gap: 30px;
}

.textContent {
  flex: 0 0 65%; /* don’t let it shrink, set fixed basis */
}
.imageContent {
  flex: 0 0 35%;
}


.imageContent img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 480px;
}

.bottomimageContent{
    flex: 0 0 40%;
}
.bottomTextContent{
    flex: 0 0 60%;
}
.bottomSection img{
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.middleSection{
  display: flex;
  align-items: end;
  gap: 40px;
  background: #270D2C;
  border-radius: 20px;
}
.middleSection img{
  width: 64%;
  object-fit: contain;
}
.middleSectionImg,.middleSectionImg_2{
  flex: 1 1 40%;
}
.middleSectionText{
  flex: 1 1 60%;
}
.middleSectionImg_2 img{
  width: 100%;
}

@media screen and (max-width: 768px) {
  .topSection,.bottomSection {
    flex-direction: column;
  }
  .textContent {
    flex: 0 0 100%;
  }
  .imageContent {
    flex: 0 0 100%;
  }
  .middleSection {
    flex-direction: column;
}
  .middleSection img {
    width: 80%;
}
}