.flex{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.left{
    width: var(--width);
     img{
        width: var(--width);
        height: var(--height);
    }
}
.right{
    width: var(--width);
    img{
        width: var(--width);
        height: var(--height);
    }
}