.Protfolio {
  position: relative;
  height: 400vh;
  /* enough scroll height for animation */
}

.ProtfolioBox {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}


.ProtfolioBox img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 1s ease, opacity 1s ease;
}


.ProtfolioBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.4);
  /* black overlay, adjust opacity as needed */
  transition: background 0.5s ease;
  pointer-events: none;
  /* lets clicks pass through */
}

.ctabox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 20px;
    width: 200px;
    object-fit: contain;
    z-index: 1;
  }
}

@media (max-width: 768px) {

  .Protfolio {
    height: 245vh;
    /* reduce scroll area for smaller screens */
  }

  .ProtfolioBox {
    height: 60vh;
    padding: 20px;
    text-align: center;
    background: black;
    justify-content: space-between;
  }

  .ProtfolioBox img {
    width: 100%;
    max-width: 350px;
    /* prevent oversized images on mobile */
    height: auto;

  }

  .ctabox {
    bottom: 50px;
    align-items: center;
    text-align: center;
  }

  .ctabox img {
    width: 140px;
    margin-bottom: 15px;
    height: 100px;
    object-fit: contain;
  }


}