.flex{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.left{
    width: var(--width);
     img{
        width: var(--width);
        height: var(--height);
    }
}
.right{
    width: var(--width);
    img{
        width: var(--width);
        height: var(--height);
    }
}

@media (max-width: 768px) {
    .flex{
    display: block;
    }
    .left{
    width: 100%;
        margin-bottom: 20px;

     img{
       width: 100%;
        height: 300px;
        object-fit: contain;
        
    }
}
.right{
       width: 100%;

    img{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
}
}